@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  height: 100%;
}

#bg-texture {
  background-image: url('../assets/texture.webp');
  background-size: contain;
  background-repeat: repeat-y;
}

#bg-bubble {
  background-image: url('../assets/bubble.svg');
  background-size: contain;
  background-repeat: no-repeat;
}

#bg-parallax{
  background-image: url('../assets/scenery_bg.webp');
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: bottom center;
  background-attachment: fixed;

  @media (max-width: 1024px) {
    background-size: contain;
  }
  @media (max-width: 600px) {
    background-size: 150%;
  }
}

@keyframes moveRight {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.image-animation {
  animation: moveRight 10s linear infinite;
}